# Copy frontend variables into frontend/.env and backend variables into server/.env.
VITE_API_URL=https://task-management-75oz.onrender.com
VITE_SOCKET_URL=https://task-management-75oz.onrender.com
NODE_ENV=production
PORT=5000
CLIENT_URL=https://task-management-fawn-three.vercel.app
CLIENT_URLS=https://task-management-fawn-three.vercel.app,https://task-management-jnzoak7lr-hira8969s-projects.vercel.app
MONGO_URI=mongodb+srv://hk2493200_db_user:Hira2006@cluster0.0hc3lfr.mongodb.net/task-management?retryWrites=true&w=majority&appName=Cluster0
JWT_ACCESS_SECRET=3785221fac6ed4bd3e1016ee96c2cb16ec01113da853a96ae391e97f2094bbc99df6eb3ce6a6d3466b37c6601c834a34275c46834e6a6591ea95935c266079c5
JWT_REFRESH_SECRET=3785221fac6ed4bd3e1016ee96c2cb16ec01113da853a96ae391e97f2094bbc99df6eb3ce6a6d3466b37c6601c834a34275c46834e6a6591ea95935c266079c5
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
COOKIE_SECRET=replace-with-cookie-secret
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=OrbitFlow <noreply@orbitflow.app>
